@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100&family=Fuggles&family=Gabarito&family=Heebo:wght@100;400;800&family=Lato:wght@300;400;700&family=League+Spartan:wght@400;500;700&family=Manrope:wght@300;400;600;700&family=Mitr:wght@300;400;600&family=Oswald:wght@300&family=Poppins:wght@300&family=Raleway:ital,wght@1,300&family=Roboto:wght@100&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100&family=Fuggles&family=Gabarito&family=Heebo:wght@100;400;800&family=Lato:wght@300;400;700&family=League+Spartan:wght@400;500;700&family=Manrope:wght@300;400;600;700&family=Mitr:wght@300;400;600&family=Oswald:wght@300&family=Poppins:wght@300&family=Raleway:ital,wght@1,300&family=Roboto:wght@100;300;400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100&family=Fuggles&family=Gabarito&family=Heebo:wght@100;400;800&family=Lato:wght@300;400;700&family=League+Spartan:wght@400;500;700&family=Manrope:wght@300;400;600;700&family=Mitr:wght@300;400;600&family=Oswald:wght@300&family=Poppins:wght@200;300&family=Raleway:ital,wght@1,300&family=Roboto:wght@100;300;400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6{
    font-family: Mitr, sans-serif;
    line-height: 1.5;
    color: #45443c;
}

h1{
    font-size: 48px;
}
h2{
    font-size: 32px;
}
h3{
    font-size: 16px;
}
p{
    font-family: Roboto, sans-serif;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}

section:nth-child(even){
    background-color: #fcfceb;
}

html{
    scroll-behavior: smooth;
}
/* LANDING PAGE */

#landing-page{
    height: 100vh;
  background-image: url(./assets/Untitled_design__7_-removebg-preview.png);
  background-repeat: no-repeat;
  background-position: left top, right bottom;
  background-size: 100% 100%;

}
.landing-page__nav{
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 64px;
}
.landing-page__navbar{
    display: flex;
    align-items: center;   
justify-content: space-between;
}

.landing-page__navbar--list{
    animation: fade-up 800ms 0.4s  ease backwards;
}

.landing-page__navbar--logo{
    display: flex;
    align-items: center;
    padding-top: 16px;
   animation: fade-in 800ms 0.3s ease backwards;
}
@keyframes fade-in{
    0%{
        opacity: 0;
        transform: translateX(-40px);
    }
    100%{
        opacity: 1;
        transform: translateX(0)
    }
}
@keyframes fade-up{
    0%{
        transform:translateY(50px);
        opacity: 0;
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}

.navbar--logo{
    max-width: 15%;
   padding-right: 8px;
  padding-top: 16px;
}
#navbar--logo-pic{
    width: 100%;

}

.logo-content h2, h3{
color: #45443c;
}
.logo-content h2{
    font-size: 48px;
   
}
.logo-content h3{
    margin-top: -16px;
    font-size: 28px;
    font-weight: 400;
    letter-spacing: 4px;
}
.landing-page__navbar--list{
    width: 70%;
 
}
.landing-page__navbar--links{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.landing-page__navbar--link{
    color: #80765d;
    font-family: Mitr, sans-serif;
    font-size: 24px;
}
a{
    position: relative;
    transition: 300ms ease;
}
a:hover{
    opacity: 0.8;
}
button{
    transition: 300ms ease;
}
button:hover{
    opacity: 0.8;
}

.landing-page__link--hover-effect:after {
    content: "";
    position: absolute;
    height: 3px;
    width: 0;
    bottom: -3px;
    right: 0;
    transition: 300ms ease;
    background-color: black;

}

.landing-page__link--hover-effect:hover:after{
    width: 100%;
    left: 0;
}

.services--header{
    color: #45443c;
}
.landing-page__content{
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
display: flex;
justify-content: space-between;
align-items: left;

}
.landing-page__content-intro{
    display: flex;
    flex-direction: column;
   
}
.landing-page__content--header{
    color:#45443c;
    font-size: 64px;
    width: 80%;
    line-height: 1em;

}
.landing-page__content--para{
    color: #5e5848;
    font-size: 20px;
    
    width: 60%; 
    padding-top: 16px;
    padding-bottom: 40px;
}
.landing-page__content--services{
    display: flex;
    flex-direction: column;
  padding: 8px 16px;
  list-style: disc;
}
.content__service{
    padding: 4px 0;
 color: #5e5848;
 font-family: Roboto, sans-serif;
 font-weight: 400;
}
.landing-page__content--button-container{
    max-width: 25%;
margin-top: 8px;

}
#landing-page__content--button{
width: 100%;
padding: 12px;
border-radius: 25px;
border: none;
background-color: #5e5848; 
color: #fff;
font-family: Mitr, sans-serif;
font-size: 16px;
animation: button_wiggle 800ms 0.8s ease-in-out backwards;
}

@keyframes button_wiggle{
  0%{
    transform: scale(0.8);
    opacity: 0;
  }
  80%{
    transform: scale(1.5);
  }
  100%{
    transform: scale(1);
    opacity: 1;
  }
}

#landing-page__content--button:hover{
    cursor: pointer;
}



/* ABOUT US */

#about_us{
    height: 75vh;
}

.about_us--header{
    text-align: center;
    padding-bottom: 28px;
    
}

#about_us .row{
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.about_us--row1{
    display: flex;
    margin-bottom: 48px;
    justify-content: space-between;
}
.about_us--row2{
    display: flex;
    justify-content: space-between;
    padding-bottom: 28px;
}
.about_us--card{
    width: 32%;


}
.about_us--para-number{
    font-family: Mitr, sans-serif;
    font-size: 20px;
    border: 2px solid #80765d;
    width: max-content;
    padding: 4px 12px;
    border-radius: 50%;
}
.bold-text{
    font-family: Mitr,sans-serif;
    color: #45443c;
    font-weight: 600;
}
.about_us--para{
    color: #5e5848;
    font-family: Roboto, sans-serif;
}

.about_us--button-container{


    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#about_us--button{
    width: 100%;
padding: 12px;
border-radius: 25px;
border: none;
background-color: #5e5848; 
color: #fff;
font-family: Mitr, sans-serif;
font-size: 16px;
}
#about_us--button:hover{
    cursor: pointer;
}

/* SERVICES */

.services__row{

    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}
.services__header{
    padding-top: 32px;
    display: flex;
justify-content: center;
align-items: center;
}
.services__items{
    display: flex;
 justify-content: space-between;
    align-items: center;
}
.services__item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    border-radius: 25px;
  padding: 0 8px;
    overflow: hidden;
   flex: 1;
}

.service__item--picture{
    width: 100%;
    height: 50%;
   
}
.service__item--picture img{
    width: 100%;
    object-fit: cover;
}
.services__item--subheading{
    font-size: 20px;
}
.services__item--para{
    font-family: Roboto, sans-serif;
    color: #5e5848;
}
.services--button-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6em 0;
}
#services--button{
    width: 16%;
    padding: 12px;
    border-radius: 25px;
    border: none;
    background-color: #5e5848; 
    color: #fff;
    font-family: Mitr, sans-serif;
    font-size: 16px;
}
#services--button:hover{
cursor:pointer;
}

/* TESTIMONIALS */

.testimonials__header{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 16px;
    padding-bottom: 2em;
}
.testimonials_row{
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}
.testimonials__row1{
    display: flex;
    justify-content: center;

}
.testimonials__row2{
    display: flex;
    justify-content: center;
    margin-top: 16px;
padding-bottom: 64px;
}
.testimonial__comment{
    width: 50%;
    display: flex;
background-color: #d9d3c1;
border-radius: 25px;
padding: 16px;
margin-left: 16px;
}
.testimonial__pfp--container{
    width: 100%;
    height: 100%;
 
    border-radius: 50%;
    overflow: hidden;
  

}
.profile__picture{
width: 100%;
}


.testimonial__pfp{
    width: 40%;
    height: 40%;

}
.testimonial__person--content{
    padding-left: 8px;
}
.testimonial__person--content h3{
    font-size: 20px;
}
.person__comment{
    font-size: 16px;
    color: #5e5848;
}
.testimonials--button-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
 padding-bottom: 3em;
}
#testimonials--button{
    width: 16%;
    padding: 12px;
    border-radius: 25px;
    border: none;
    background-color: #5e5848; 
    color: #fff;
    font-family: Mitr, sans-serif;
    font-size: 16px;
}
#testimonials--button:hover{
    cursor:pointer;
}

.testimonial__person--content h3{
    color: #494840;
}
.testimonial__ratings{
margin-top: 1em;
bottom: 0;
}
.testimonial__comment{
    display: flex;
   
    position: relative;
}
/* FOOTER */
#footer{
    background-color: #5e5848;
    color: #fff;
    font-family: Roboto, sans-serif;
    padding-top: 1em;
padding-bottom: 1em;
}
.copyright{
    display: flex;
    align-items: center;
    justify-content: center;
   padding-top: 1em;
    font-size: 16px;
    letter-spacing: 2px;
}
.stars{
    padding-left: 4px;
    padding-right: 4px;
    position: relative;
    bottom: 0;
outline-color: #80765d;
outline-style: solid;
}

.landing-page__content-contact{
    display: flex;
    align-items: center;
    max-width: 40%;
    margin:  auto;
    justify-content: space-evenly;
}
.landing-page__content-contact-header{
    color: #fff;
}
.landing-page__form-content{
    padding: 4px 12px;
    border-radius: 25px;
    outline: 0;
    border: 0;
   
}
#Submit-button{
    background-color: #a19f8a;
    
    color: #fff;
    font-family: Mitr, sans-serif;
    font-weight: 400;
    transition: 200ms ease;
}
#Submit-button:hover{
    filter: opacity(0.8);
    cursor: pointer;
    filter: brightness(1.1);
}

/* MEDIA QUEIRES */ 

@media (max-width: 992px){
.logo-content h2{
    font-size: 24px;
}
.logo-content h3{
    padding-top: 4px;
    font-size: 20px;
}
.landing-page__navbar--link{
    font-size: 18px;
}
.landing-page__content{
    width: 760px;

}
.about_us--para{
    font-size: 15px;
}
}

@media (max-width: 768px){
    .landing-page__content{
        width: 480px;
        
    }
    
    .landing-page__content--header{
        font-size: 36px;
  
    }
    .landing-page__content--para{
        font-size: 16px;
    }
    .landing-page__content-contact{
        width: 45%;
    }
    .align{
       display: flex;
       justify-content: center;
    }
    .landing-page__navbar--list{
        display: none;
    }
    .landing-page__navbar--logo{
        justify-content: center;
    }
    #landing-page__content--button{
        width: 180%;
    }
    #about_us{
margin-bottom: 8em;
    }
    .about_us--para-number{
        font-size: 12px;
    }
        .about_us--para{
            font-size: 14px;
        }

   .services__item--para{
    display: none;
   } 
   .services__items{
    flex-direction: column;
    
   }
   .services__item{
    width: 50%;
    margin-bottom: 2em;
   }
   .services__header{
    margin-bottom: 2em;
   }
   .services__item--subheading{
    font-weight: 300;
   }
   .testimonial__pfp{
    display: none;
   }
   .services--button-container{
    margin-top: -4em;
   }
}
